.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #15635a; border-top: 0; background: #f8f8f6; box-shadow: -1px 1px 3px #15635a;

    border-radius: .5em;
    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { font-family: Calabri; position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #3d565b; }
.autocomplete-suggestion b { font-family: Calabri; font-weight: normal; color: #d15b27; }
.autocomplete-suggestion.selected { background: #ecfdbb; }
